body {
    background-color: white;
    font-family: 'Kanit', sans-serif;
  }

  .top {
    height: 100px;
    width: 100%;
    position: sticky;
    background-color: #a9eaf3;
    color: #fff;
    padding-top: 20px;
    border-bottom:  4px rgb(102, 175, 235)  solid;
    text-align: center;
  }
  .font1
  {
      font-family: 'Chango', cursive;;
  }

  tr,td,th{
      width: 180px;
      height: auto;
      /* //left: 100px; */
  }

  .calendar-base {
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: -1;
    color: black;
  }

  .year {
    color: #E8E8E8;
    font-size: 30px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
  }
  .triangle-left:hover{
    border-right: 10px solid#2ECC71;
  }
  .triangle-right:hover{
    border-left: 10px solid#2ECC71;
  }

  .month-color {
    color: blue;
  }
  .month-hover:hover{
    color:blue !important;
  }

  .months {
    color: #AAAAAA;
    position: relative;
    left: 350px;
    top: 90px;
    word-spacing: 10px;
  }

  .month-line {
    border-color: #E8E8E8;
    position: relative;
    top: 85px;
    width: 57%;
    left: 350px;
  }

  .days {
    color: #AAAAAA;
    position: relative;
    font-size: 18px;
    left: 355px;
    top: 80px;
    word-spacing: 35px;
    font-weight: 600;
  }

  .num-dates {
    float: right;
    position: relative;
    top: 110px;
    right: 50px;
    z-index: 1;
  }

  .first-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }

  .second-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }

  .third-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }

  .fourth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }

  .fifth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }

  .sixth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }

  .active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #0e49b5;
    position: relative;
    top: 300px;
    left: 669px;
  }

  .white {
    color: white;
  }

  .event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980B9;
    position: relative;
    top: 304px;
    left: 695px;
  }

  .two {
    position: relative;
    top: 168px;
    left: 535px;
  }

  .grey {
    color: #AAAAB1;
  }

  .calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ECC71;
    position: relative;
    z-index: -1;
    bottom: 500px;
    color: white;
  }

  .hamburger {
    position: relative;
    top: 25px;
    left: 25px;
  }

  .burger-line:hover, .hamburger:hover{
    background-color:#27e879 !important;
  }

  .burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
  }

  .num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
  }

  .day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    position: relative;
    bottom: 60px;
  }

  .current-events {
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    bottom: 30px;
  }

  .posts {
    text-decoration: underline dotted;
  }
  .posts:hover{
    color:#27e879 !important;
  }



  .add-event {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: solid white 2px;
    position: relative;
    bottom: 42px;
    left: 260px;
  }

  .add {
    font-size: 25px;
    position: relative;
    left: 4px;
    bottom: 10px;
  }

  .add:hover, .create-event:hover, .add-event:hover{
    color:#27e879 !important;
    border-color: #27e879 !important;
  }
